body {
    font-family: Roboto;
    color: var(--main-text-color);
    
}
:root {
    --main-text-color: #212121;
    --brand-color: #757575;
    --link-color: #2196F3;
    --main-bg-color: #FFFFFF;
  }



/* Шапка сайта */
.page-header{
    
    background: var(--main-bg-color);
    
   
}

.logo {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--main-text-color);

}
.logo-web {
    color: var(--link-color);
}
.site-nav{

    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}
.site-nav .link{
    list-style: none;
    text-decoration: none;
    color: var(--main-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--link-color);
}

li{
    list-style-type: none;
}

.site-contacts .link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--brand-color);
}

.site-contacts .link:hover{
    color: var(--link-color);
}

/* Футер */

footer{
    background: var(--brand-color);
}

.address a{
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

}
.address .maps{
    color: var(--main-bg-color);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

}
.address .contact{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.address .contact:hover,
.address .contact:focus {
    color: #2196F3;
}
.logo-footer{
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--main-bg-color);

}



/* ! Основной контент ! */
.main-service{
    background-color: #2F303A;
}
.main-service-title{
    color: var(--main-bg-color);
    background: #2F303A;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
   
}
.main-service .button{
    background: var(--link-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer; 

}
.main-service .button-text{
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-bg-color);
}
.benefits-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);

}
.benefits-subtitle{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
}
.benefits-text{
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--brand-color);
}
.occupation-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);

}

.team-section{
    background: var(--main-bg-color);
}
.team-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
.team-subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
.team-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--brand-color);
}
.team-items{
    background: var(--main-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}



/* ! Портфолио ! */


.site-nav .link.current{
    color: var(--link-color);
}

/* Main content */


.all-services-button{
    background: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
}
.all-services-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
.all-services-button:hover,
.all-services-button:focus {
    background: var(--link-color);
}
.website-list-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
}
.website-list-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--brand-color);
}